---
import BaseLayout from "../layouts/BaseLayout.astro";
import type { Props as IconProps } from "../components/svg/SVGIcon.astro";
import type { tagData } from "../types";
import LabeledIcon from "../components/ui/LabeledIcon.astro";
import ProjectComponent from "../components/ProjectComponent.astro";
import ProjectsArray from "../content/ProjectsSummary";
import SectionComponent from "../components/SectionComponent.astro";

const frontEndLinks: {
  tag: tagData;
  icon: IconProps["icon"];
  label: string;
}[] = [
  {
    tag: "react",
    icon: "react",
    label: "React.js",
  },
  // {
  //   link: "svelte",
  //   icon: "svelte",
  //   label: "Svelte",
  // },
];

const backEndLinks: {
  tag: tagData;
  icon: IconProps["icon"];
  label: string;
}[] = [
  // {
  //   link: "nodejs",
  //   icon: "nodejs",
  //   label: "Node.js",
  // },
  {
    tag: "nextjs",
    icon: "nextjs",
    label: "Next.js",
  },
  {
    tag: "expressjs",
    icon: "expressjs",
    label: "Express.js",
  },
  {
    tag: "astro",
    icon: "astro",
    label: "Astro",
  },
];

const dbLinks: {
  tag: tagData;
  icon: IconProps["icon"];
  label: string;
}[] = [
  {
    tag: "postgres",
    icon: "postgres",
    label: "PostgreSQL",
  },
  {
    tag: "mysql",
    icon: "mysql",
    label: "MySQL",
  },
  {
    tag: "mongodb",
    icon: "mongodb",
    label: "MongoDB",
  },
];
---

<BaseLayout title="Ammar" description="Portfolio Website">
  <main class="flex flex-col items-center justify-center gap-[5em]">
    <section
      class="flex w-full flex-col items-center justify-center gap-[3em] sm:flex-row sm:gap-[1em]"
    >
      <div class="basis-full sm:basis-2/3">
        <h1
          class="font-code !text-primarycolor-dark dark:!text-accentcolor-alt"
        >
          hello world 👋
        </h1>
        <h2 class="font-code !text-accentcolor">My name is Ammar</h2>
        <h3 class="font-text !text-[#374151] dark:!text-[#d1d5db]">
          and I'm a fullstack developer
        </h3>
      </div>
      <div class="aspect-square w-1/2 justify-center sm:basis-1/3">
        <img
          src="profile.jpg"
          alt="profilepicture"
          class="h-auto max-w-full rounded-3xl border-2 border-bordercolor border-opacity-25 dark:border-bordercolor-dark sm:rounded-lg"
        />
      </div>
    </section>

    <SectionComponent title="Tech Stacks" link="/skills">
      <div
        class="flex w-full flex-col gap-[1em] text-2xl md:text-3xl lg:text-5xl xl:text-6xl"
      >
        <div>
          <h3 class="pb-[1em]">Client Frameworks</h3>
          <div class="flex justify-center gap-[1em]">
            {
              frontEndLinks.map((link) => (
                <LabeledIcon
                  tag={link.tag}
                  label={link.label}
                  icon={link.icon}
                />
              ))
            }
          </div>
        </div>
        <div>
          <h3 class="pb-[1em]">Server Frameworks</h3>
          <div class="flex justify-center gap-[1em]">
            {
              backEndLinks.map((link) => (
                <LabeledIcon
                  tag={link.tag}
                  label={link.label}
                  icon={link.icon}
                />
              ))
            }
          </div>
        </div>
        <div>
          <h3 class="pb-[1em]">Databases</h3>
          <div class="flex justify-center gap-[1em]">
            {
              dbLinks.map((link) => (
                <LabeledIcon
                  tag={link.tag}
                  label={link.label}
                  icon={link.icon}
                />
              ))
            }
          </div>
        </div>
      </div>
    </SectionComponent>

    <SectionComponent title="Projects" link="/projects">
      <div class="flex flex-col gap-[1em]">
        {
          ProjectsArray.slice(0, 3).map((project) => (
            <ProjectComponent
              title={project.title}
              link={project.link}
              tags={project.tags}
              points={project.points}
            />
          ))
        }
      </div>
    </SectionComponent>

    <SectionComponent title="About Me" link="/about">
      <div class="flex flex-col gap-[1em]">
        <p>
          I started programming around the last year of my high school (2015)
          and fell in love, got a Bachelors in Computer Science and went on to
          become a Full Stack developer.
        </p>
        <p>
          I am passionate about programming, have about 3 years experience
          working with React.js and node.js + express.js designing an in-house
          planning system for my previous company.
        </p>
        <p>
          Have also been Freelancing on and off making websites for local
          businesses using Typescript + React + Next.js or Astro.
        </p>
        <p>
          In my spare time I try to learn and read-up on various articles and
          blogs that can help me become a better programmer.
        </p>
      </div>
    </SectionComponent>
  </main>
</BaseLayout>../content/ProjectsSummary
