---
import BaseLayout from "../layouts/BaseLayout.astro";
import type { Props as IconProps } from "../components/svg/SVGIcon.astro";
import LabeledIcon from "../components/ui/LabeledIcon.astro";
import SVGIcon from "../components/svg/SVGIcon.astro";

const frontEndLinks: {
  link: string;
  icon: IconProps["icon"];
  label: string;
}[] = [
  {
    link: "react",
    icon: "react",
    label: "React.js",
  },
  // {
  //   link: "svelte",
  //   icon: "svelte",
  //   label: "Svelte",
  // },
];

const backEndLinks: {
  link: string;
  icon: IconProps["icon"];
  label: string;
}[] = [
  // {
  //   link: "nodejs",
  //   icon: "nodejs",
  //   label: "Node.js",
  // },
  {
    link: "nextjs",
    icon: "nextjs",
    label: "Next.js",
  },
  {
    link: "expressjs",
    icon: "expressjs",
    label: "Express.js",
  },
  {
    link: "astro",
    icon: "astro",
    label: "Astro",
  },
];

const dbLinks: {
  link: string;
  icon: IconProps["icon"];
  label: string;
}[] = [
  {
    link: "postgresql",
    icon: "postgres",
    label: "PostgreSQL",
  },
  {
    link: "mysql",
    icon: "mysql",
    label: "MySQL",
  },
  {
    link: "mongodb",
    icon: "mongodb",
    label: "MongoDB",
  },
];
---

<BaseLayout title="Ammar" description="Portfolio website">
  <main class="flex flex-col items-center justify-center gap-20">
    <section
      class="flex flex-col items-center justify-center gap-12 sm:flex-row sm:gap-4"
    >
      <div class="basis-full sm:basis-2/3">
        <h1>Full Stack Engineer</h1>
        <p class="">
          Hi, I'm Ammar, a passionate programmer currently based in Pakistan 📍
        </p>
      </div>
      <div class="aspect-square w-1/2 justify-center sm:basis-1/3">
        <img
          class="rounded-full border-2 border-bordercolor border-opacity-25 dark:border-bordercolor-dark sm:rounded-lg"
          src="profile.jpg"
          alt="profilepicture"
        />
      </div>
    </section>

    <section class="sectionContainer">
      <div class="flex w-full justify-between pb-6">
        <h2>Tech Stacks</h2>
        <a class="self-end text-accentcolor" href="/skills">✨ See more...</a>
      </div>
      <div
        class="flex w-full flex-col gap-10 text-2xl md:text-3xl lg:text-5xl xl:text-6xl"
      >
        <div class="">
          <h3>Frontend</h3>
          <div class="flex justify-center gap-8">
            {
              frontEndLinks.map((link) => (
                <LabeledIcon
                  link={link.link}
                  label={link.label}
                  icon={link.icon}
                />
              ))
            }
          </div>
        </div>

        <div>
          <h3>Backend</h3>
          <div class="flex justify-center gap-8">
            {
              backEndLinks.map((link) => (
                <LabeledIcon
                  link={link.link}
                  label={link.label}
                  icon={link.icon}
                />
              ))
            }
          </div>
        </div>

        <div>
          <h3>Database</h3>
          <div class="flex justify-center gap-8">
            {
              dbLinks.map((link) => (
                <LabeledIcon
                  link={link.link}
                  label={link.label}
                  icon={link.icon}
                />
              ))
            }
          </div>
        </div>
      </div>
    </section>

    <section class="sectionContainer">
      <div class="flex w-full justify-between pb-6">
        <h2>Projects</h2>
        <!-- TODO: Uncomment after completing project page -->
        <!-- <a class="self-end text-accentcolor" href="/projects">✨ See more...</a> -->
      </div>
      <div>
        <div class="basis-full">
          <a
            href="https://github.com/khawaja-ammar/chatting_MERN"
            target="_blank"
            class="flex items-center gap-2"
          >
            <h3>MERN Chatting App</h3>
            <SVGIcon
              icon="externallink"
              className="text-xs lg:text-sm dark:fill-white"
            />
          </a>
          <ul class="list-disc pl-6">
            <li>
              Developed a full-stack web application using express.js serving
              REST APIs with React and tailwindcss + daisyUI as the frontend
            </li>
            <li>
              Authorization and authentication done using JSON web tokens (JWT)
              for secure sessions
            </li>
            <li>
              Implemented Real-time communication between clients using
              Socket.IO (including message indicators)
            </li>
            <li>
              Client information and messages stored in MongoDB instance for
              faster reads
            </li>
          </ul>
        </div>
        <br />
        <div class="basis-full">
          <a
            href="https://github.com/khawaja-ammar/pythonP2P"
            target="_blank"
            class="flex items-center gap-2"
          >
            <h3>Peer-to-peer File Sharing (Python)</h3>
            <SVGIcon
              icon="externallink"
              className="text-xs lg:text-sm dark:fill-white"
            />
          </a>
          <ul class="list-disc pl-6">
            <li>
              Engineered a Chord-like p2p node for sharing files with other
              nodes on request
            </li>
            <li>Implemented Finger tables for O(log N) lookup time</li>
            <li>
              “Stabilization” stage and file redundancy implemented to minimize
              risk of file loss
            </li>
          </ul>
        </div>
        <!-- <div class="basis-full">
          <a
            href="https://github.com/khawaja-ammar/"
            target="_blank"
            class="flex items-center gap-2"
          >
            <h3>HEADING</h3>
            <SVGIcon icon="externallink" className="text-xs lg:text-sm dark:fill-white" />
          </a>
          <ul class="list-disc pl-6">
            <li>ITEM 1</li>
          </ul>
        </div> -->
      </div>
    </section>

    <section class="sectionContainer">
      <div class="flex w-full justify-between pb-6">
        <h2>About Me</h2>
        <a class="self-end text-accentcolor" href="/about">✨ See more...</a>
      </div>
      <div>
        <p>
          <span
            >I started programming around the last year of my high school (2015)
            and fell in love, got a Bachelors in Computer Science and went on to
            become a Full Stack developer.</span
          ><br /><br />
          <span
            >I am passionate about programming, have about 3 years experience
            working with React.js and node.js + express.js designing an in-house
            planning system for my previous company.</span
          ><br /><br />
          <span>
            Have also been Freelancing on and off making websites for local
            businesses using Typescript + React + Next.js or Astro.</span
          ><br /><br />
          <span
            >In my spare time I try to learn and read-up on various articles and
            blogs that can help me become a better programmer.</span
          >
        </p>
      </div>
    </section>
  </main>
</BaseLayout>
