---
import BaseLayout from "../layouts/BaseLayout.astro";
import type { Props as IconProps } from "../components/svg/SVGIcon.astro";
import type { tagData } from "../types";
import LabeledIcon from "../components/ui/LabeledIcon.astro";
import SectionComponent from "../components/SectionComponent.astro";

const language_DSLs: {
  tag: tagData;
  icon: IconProps["icon"];
  label: string;
}[] = [
  {
    tag: "html",
    icon: "lang_html",
    label: "HTML",
  },

  {
    tag: "css",
    icon: "lang_css",
    label: "CSS",
  },
  {
    tag: "sql",
    icon: "lang_sql",
    label: "SQL",
  },
];

const language_programming: {
  tag: tagData;
  icon: IconProps["icon"];
  label: string;
}[] = [
  {
    tag: "javascript",
    icon: "lang_javascript",
    label: "Javascript",
  },
  {
    tag: "typescript",
    icon: "lang_typescript",
    label: "Typescript",
  },
  // {
  //   tag: "nodejs",
  //   icon: "nodejs",
  //   label: "Node.js",
  // },
  {
    tag: "python",
    icon: "lang_python",
    label: "Python",
  },
  {
    tag: "golang",
    icon: "lang_golang",
    label: "Golang",
  },
  {
    tag: "cpp",
    icon: "lang_cpp",
    label: "C/C++",
  },
];

const frontEndLinks: {
  tag: tagData;
  icon: IconProps["icon"];
  label: string;
}[] = [
  {
    tag: "react",
    icon: "react",
    label: "React.js",
  },
  // {
  //   tag: "svelte",
  //   icon: "svelte",
  //   label: "Svelte",
  // },
];

const fullstackLinks: {
  tag: tagData;
  icon: IconProps["icon"];
  label: string;
}[] = [
  {
    tag: "nextjs",
    icon: "nextjs",
    label: "Next.js",
  },
  {
    tag: "astro",
    icon: "astro",
    label: "Astro",
  },
];

const backEndLinks: {
  tag: tagData;
  icon: IconProps["icon"];
  label: string;
}[] = [
  {
    tag: "expressjs",
    icon: "expressjs",
    label: "Express.js",
  },
];

const dbLinks: {
  tag: tagData;
  icon: IconProps["icon"];
  label: string;
}[] = [
  {
    tag: "postgres",
    icon: "postgres",
    label: "PostgreSQL",
  },
  {
    tag: "mysql",
    icon: "mysql",
    label: "MySQL",
  },
  {
    tag: "mongodb",
    icon: "mongodb",
    label: "MongoDB",
  },
];

// const saasLinks: {
//   tag: tagData;
//   icon: IconProps["icon"];
//   label: string;
// }[] = [
//   Firebase
//   Supabase
// ];

const uiLibLinks: {
  tag: tagData;
  icon: IconProps["icon"];
  label: string;
}[] = [
  {
    tag: "tailwindcss",
    icon: "lib_tailwind",
    label: "TailwindCSS",
  },
  {
    tag: "daisyui",
    icon: "lib_daisyui",
    label: "DaisyUI",
  },
];

const miscLibLinks: {
  tag: tagData;
  icon: IconProps["icon"];
  label: string;
}[] = [
  {
    tag: "socketio",
    icon: "lib_socketio",
    label: "Socket.IO",
  },
  // {
  //   tag: "graphql",
  //   icon: "lib_graphql",
  //   label: "GraphQL",
  // },
  {
    tag: "jwt",
    icon: "lib_jwt",
    label: "JWT",
  },
];

const testingLibLinks: {
  tag: tagData;
  icon: IconProps["icon"];
  label: string;
}[] = [
  {
    tag: "jestjs",
    icon: "lib_jestjs",
    label: "Jest.js",
  },
  {
    tag: "lighthouse",
    icon: "lib_lighthouse",
    label: "Lighthouse",
  },
];
---

<BaseLayout
  title="Skills"
  description="Overview of programming languages, frameworks and libraries I know"
>
  <main class="flex flex-col gap-[5em]">
    <SectionComponent title="Languages">
      <div
        class="flex w-full flex-col gap-10 py-[0.5em] text-2xl md:text-3xl lg:text-5xl xl:text-6xl"
      >
        <div class="flex flex-col gap-4">
          <div class="flex justify-center gap-8">
            {
              language_DSLs.map((link) => (
                <LabeledIcon
                  tag={link.tag}
                  label={link.label}
                  icon={link.icon}
                />
              ))
            }
          </div>
          <div class="flex justify-center gap-8">
            {
              language_programming.map((link) => (
                <LabeledIcon
                  tag={link.tag}
                  label={link.label}
                  icon={link.icon}
                />
              ))
            }
          </div>
        </div>
      </div>
    </SectionComponent>

    <SectionComponent title="Frameworks">
      <div
        class="flex w-full flex-col gap-10 py-[0.5em] text-2xl md:text-3xl lg:text-5xl xl:text-6xl"
      >
        <div class="flex flex-col gap-4">
          <div class="flex justify-center gap-8">
            {
              frontEndLinks.map((link) => (
                <LabeledIcon
                  tag={link.tag}
                  label={link.label}
                  icon={link.icon}
                />
              ))
            }
          </div>
          <div class="flex justify-center gap-8">
            {
              fullstackLinks.map((link) => (
                <LabeledIcon
                  tag={link.tag}
                  label={link.label}
                  icon={link.icon}
                />
              ))
            }
          </div>
          <div class="flex justify-center gap-8">
            {
              backEndLinks.map((link) => (
                <LabeledIcon
                  tag={link.tag}
                  label={link.label}
                  icon={link.icon}
                />
              ))
            }
          </div>
        </div>
      </div>
    </SectionComponent>

    <SectionComponent title="Databases">
      <div
        class="flex w-full flex-col gap-10 py-[0.5em] text-2xl md:text-3xl lg:text-5xl xl:text-6xl"
      >
        <div class="flex flex-col gap-4">
          <div class="flex justify-center gap-8">
            {
              dbLinks.map((link) => (
                <LabeledIcon
                  tag={link.tag}
                  label={link.label}
                  icon={link.icon}
                />
              ))
            }
          </div>
        </div>
      </div>
    </SectionComponent>

    <SectionComponent title="Libraries">
      <div
        class="flex w-full flex-col gap-10 py-[0.5em] text-2xl md:text-3xl lg:text-5xl xl:text-6xl"
      >
        <div class="flex flex-col gap-4">
          <div class="flex justify-center gap-8">
            {
              uiLibLinks.map((link) => (
                <LabeledIcon
                  tag={link.tag}
                  label={link.label}
                  icon={link.icon}
                />
              ))
            }
          </div>
          <div class="flex justify-center gap-8">
            {
              miscLibLinks.map((link) => (
                <LabeledIcon
                  tag={link.tag}
                  label={link.label}
                  icon={link.icon}
                />
              ))
            }
          </div>
          <div class="flex justify-center gap-8">
            {
              testingLibLinks.map((link) => (
                <LabeledIcon
                  tag={link.tag}
                  label={link.label}
                  icon={link.icon}
                />
              ))
            }
          </div>
        </div>
      </div>
    </SectionComponent>
  </main>
</BaseLayout>
