---
import BaseLayout from "../layouts/BaseLayout.astro";
import type { Props as IconProps } from "../components/svg/SVGIcon.astro";
import LabeledIcon from "../components/ui/LabeledIcon.astro";

const language_DSLs: {
  link: string;
  icon: IconProps["icon"];
  label: string;
}[] = [
  {
    link: "html",
    icon: "lang_html",
    label: "HTML",
  },

  {
    link: "css",
    icon: "lang_css",
    label: "CSS",
  },
  {
    link: "sql",
    icon: "lang_sql",
    label: "SQL",
  },
];

const language_programming: {
  link: string;
  icon: IconProps["icon"];
  label: string;
}[] = [
  {
    link: "javascript",
    icon: "lang_javascript",
    label: "Javascript",
  },
  {
    link: "typescript",
    icon: "lang_typescript",
    label: "Typescript",
  },
  // {
  //   link: "nodejs",
  //   icon: "nodejs",
  //   label: "Node.js",
  // },
  {
    link: "python",
    icon: "lang_python",
    label: "Python",
  },
  {
    link: "golang",
    icon: "lang_golang",
    label: "Golang",
  },
  {
    link: "cplusplus",
    icon: "lang_cplusplus",
    label: "C/C++",
  },
];

const frontEndLinks: {
  link: string;
  icon: IconProps["icon"];
  label: string;
}[] = [
  {
    link: "react",
    icon: "react",
    label: "React.js",
  },
  // {
  //   link: "svelte",
  //   icon: "svelte",
  //   label: "Svelte",
  // },
];

const fullstackLinks: {
  link: string;
  icon: IconProps["icon"];
  label: string;
}[] = [
  {
    link: "nextjs",
    icon: "nextjs",
    label: "Next.js",
  },
  {
    link: "astro",
    icon: "astro",
    label: "Astro",
  },
];

const backEndLinks: {
  link: string;
  icon: IconProps["icon"];
  label: string;
}[] = [
  {
    link: "expressjs",
    icon: "expressjs",
    label: "Express.js",
  },
];

const dbLinks: {
  link: string;
  icon: IconProps["icon"];
  label: string;
}[] = [
  {
    link: "postgresql",
    icon: "postgres",
    label: "PostgreSQL",
  },
  {
    link: "mysql",
    icon: "mysql",
    label: "MySQL",
  },
  {
    link: "mongodb",
    icon: "mongodb",
    label: "MongoDB",
  },
];

// const saasLinks: {
//   link: string;
//   icon: IconProps["icon"];
//   label: string;
// }[] = [
//   Firebase
//   Supabase
// ];

const uiLibLinks: {
  link: string;
  icon: IconProps["icon"];
  label: string;
}[] = [
  {
    link: "tailwind",
    icon: "lib_tailwind",
    label: "TailwindCSS",
  },
  {
    link: "daisyui",
    icon: "lib_daisyui",
    label: "DaisyUI",
  },
];

const miscLibLinks: {
  link: string;
  icon: IconProps["icon"];
  label: string;
}[] = [
  {
    link: "socketio",
    icon: "lib_socketio",
    label: "Socket.IO",
  },
  // {
  //   link: "graphql",
  //   icon: "lib_graphql",
  //   label: "GraphQL",
  // },
  {
    link: "jwt",
    icon: "lib_jwt",
    label: "JWT",
  },
];

const testingLibLinks: {
  link: string;
  icon: IconProps["icon"];
  label: string;
}[] = [
  {
    link: "jestjs",
    icon: "lib_jestjs",
    label: "Jest.js",
  },
];
---

<BaseLayout title="Skills">
  <main class="flex flex-col gap-12">
    <section class="sectionContainer gap-4">
      <div class="flex w-full justify-center md:justify-start">
        <h2>Languages</h2>
      </div>
      <div
        class="flex w-full flex-col gap-10 text-2xl md:text-3xl lg:text-5xl xl:text-6xl"
      >
        <div class="flex flex-col gap-4">
          <div class="flex justify-center gap-8">
            {
              language_DSLs.map((link) => (
                <LabeledIcon
                  link={link.link}
                  label={link.label}
                  icon={link.icon}
                />
              ))
            }
          </div>
          <div class="flex justify-center gap-8">
            {
              language_programming.map((link) => (
                <LabeledIcon
                  link={link.link}
                  label={link.label}
                  icon={link.icon}
                />
              ))
            }
          </div>
        </div>
      </div>
    </section>

    <section class="sectionContainer gap-4">
      <div class="flex w-full justify-center md:justify-start">
        <h2>Frameworks</h2>
      </div>
      <div
        class="flex w-full flex-col gap-10 text-2xl md:text-3xl lg:text-5xl xl:text-6xl"
      >
        <div class="flex flex-col gap-4">
          <div class="flex justify-center gap-8">
            {
              frontEndLinks.map((link) => (
                <LabeledIcon
                  link={link.link}
                  label={link.label}
                  icon={link.icon}
                />
              ))
            }
          </div>
          <div class="flex justify-center gap-8">
            {
              fullstackLinks.map((link) => (
                <LabeledIcon
                  link={link.link}
                  label={link.label}
                  icon={link.icon}
                />
              ))
            }
          </div>
          <div class="flex justify-center gap-8">
            {
              backEndLinks.map((link) => (
                <LabeledIcon
                  link={link.link}
                  label={link.label}
                  icon={link.icon}
                />
              ))
            }
          </div>
        </div>
      </div>
    </section>

    <section class="sectionContainer gap-4">
      <div class="flex w-full justify-center md:justify-start">
        <h2>Databases</h2>
      </div>
      <div
        class="flex w-full flex-col gap-10 text-2xl md:text-3xl lg:text-5xl xl:text-6xl"
      >
        <div class="flex flex-col gap-4">
          <div class="flex justify-center gap-8">
            {
              dbLinks.map((link) => (
                <LabeledIcon
                  link={link.link}
                  label={link.label}
                  icon={link.icon}
                />
              ))
            }
          </div>
        </div>
      </div>
    </section>

    <section class="sectionContainer gap-4">
      <div class="flex w-full justify-center md:justify-start">
        <h2>Libraries</h2>
      </div>
      <div
        class="flex w-full flex-col gap-10 text-2xl md:text-3xl lg:text-5xl xl:text-6xl"
      >
        <div class="flex flex-col gap-4">
          <div class="flex justify-center gap-8">
            {
              uiLibLinks.map((link) => (
                <LabeledIcon
                  link={link.link}
                  label={link.label}
                  icon={link.icon}
                />
              ))
            }
          </div>
          <div class="flex justify-center gap-8">
            {
              miscLibLinks.map((link) => (
                <LabeledIcon
                  link={link.link}
                  label={link.label}
                  icon={link.icon}
                />
              ))
            }
          </div>
          <div class="flex justify-center gap-8">
            {
              testingLibLinks.map((link) => (
                <LabeledIcon
                  link={link.link}
                  label={link.label}
                  icon={link.icon}
                />
              ))
            }
          </div>
        </div>
      </div>
    </section>
  </main>
</BaseLayout>
