---
import SVGIcon from "./svg/SVGIcon.astro";
import type { tagData } from "../types";

export interface Props {
  link: string;
  title: string;
  points: string[];
  tags: tagData[];
  image?: string;
}

const { link, title, points, tags, image = "" } = Astro.props;
---

<div class="w-full basis-full">
  <a href={link} target="_blank" class="inline-flex items-center gap-2">
    <h3>{title}</h3>
    <SVGIcon
      icon="externallink"
      className="text-xs lg:text-sm dark:fill-white"
    />
  </a>
  <div
    class="flex flex-wrap items-center gap-2 overflow-x-auto py-1 text-[10px] md:text-xs lg:text-sm"
  >
    {
      tags.map((tag) => (
        // TODO: Add onhover clickable link that goes to project page and finds all projects with this tag
        <p class="cursor-pointer rounded-xl bg-accentcolor bg-opacity-[65%] px-[0.5em] py-[0.075em] text-white hover:bg-opacity-100 dark:text-black">
          {`#${tag}`}
        </p>
      ))
    }
  </div>
  <div class={image !== "" ? "flex flex-col-reverse gap-4 lg:flex-row" : ""}>
    <ul
      class={image !== ""
        ? "lg:basis-4/5 list-disc ml-[1em] lg:pr-6 w-full"
        : "list-disc ml-[1em] w-full"}
    >
      {points.map((point) => <li>{point}</li>)}
    </ul>
    {
      image !== "" && (
        <>
          <a class="w-2/3 self-center lg:w-full lg:basis-1/5" href={image}>
            <img
              src={image}
              class="mt-4 rounded-lg border-2 border-bordercolor border-opacity-25 dark:border-bordercolor-dark sm:rounded-lg lg:mt-0"
            />
          </a>
        </>
      )
    }
  </div>
</div>
